
<h1>Routers</h1>
<nav>
  <a [routerLink]="['/page1',1]" routerLinkActive="active">page 1</a>
  <a routerLink="/page2" routerLinkActive="active">page 2</a>
  <a routerLink="/page3" routerLinkActive="active">page 3</a>
  <a routerLink="/page4" routerLinkActive="active">page 4</a>
</nav>

<router-outlet></router-outlet>
